/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/Apex.jpeg');
	/* the follow is the code to have the image display as a full page */
	background-position:center ;
	background-attachment: fixed;
	/* -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover; */
	background-size: cover;
	
	
}
 
#container{
	background-color: #B4B897;
	width: 424px;
	padding: 25px;
 }
 h1{
 	font-family: 'Shalimar', cursive;
 }
 h2{
 	font-family:'Corinthia', cursive;
 }
